asgiref==3.9.2
Django==5.2.7
gunicorn==23.0.0
packaging==25.0
sqlparse==0.5.3
whitenoise==6.11.0
pillow==11.3.0
pytz==2024.2  # Stable version for your "pip install pytz"
timezonefinder==6.5.3  # Stable version for your "pip install timezonefinder"
